.App {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.input-wrapper {
	display: flex;
	column-gap: 2rem;
}
.input {
	width: 150px;
	text-align: center;
	padding: 1rem;
	font-size: 2rem;
	border: 2px solid #000;
	border-radius: 10px;
}
